
@{
    ViewData["Title"] = "AddUser";
}
<link href="~/Template/fashi/css/toastr.min.css" rel="stylesheet" />
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Kullanıcı Ekle</h2>
                    <form id="addUserForm">
                        @Html.AntiForgeryToken()
                        <div class="group-input">
                            <label for="username">Adı Soyadı *</label>
                            <input type="text" name="FullName">
                            @*<span id="fullNameError" class="text-danger"></span>*@
                            <span id="FullName" class="text-danger" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="group-input">
                            <label for="pass">Kullanıcı Adı *</label>
                            <input type="text" name="RegisterName" id="regName">
                            @*<span id="regNameError" class="text-danger"></span>*@
                            <span id="RegisterName" class="text-danger" data-valmsg-for="RoleId" data-valmsg-replace="true"></span>
                        </div>
                        <div class="group-input">
                            <label>* Rol  :</label>
                            <select class="form-control" name="RoleId">
                                <option value=""></option>
                                @if (ViewBag.RoleList != null)
                                {
                                    @foreach (var item in ViewBag.RoleList)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                            @*<span asp-validation-for="RoleId"></span>*@
                            <span id="RoleId" class="text-danger" data-valmsg-for="RoleId" data-valmsg-replace="true"></span>
                        </div>
                        <button type="submit" class="site-btn login-btn">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @*<script src="~/Template/fashi/js/jquery-3.3.1.min.js"></script>*@
    <script src="~/Template/fashi/js/toastr.min.js"></script>
    <script src="~/Template/fashi/js/jquery.blockUI.js"></script>

    <script src="~/CustomScripts/User/AddUserScript.js"></script>
}
